	<!DOCTYPE html>

	<html>	

		<head>
			<title>My Exercise </title>
			<link rel="stylesheet" type="text/css" href="CSS/style.css">
		</head>	

		<body class="column">

			<header>
				<h1> My Exercise </h1>
			</header>

			<main class="column">

				
					
							<ul class="column">
								<section class="row">
									<li> Description: &nbsp; <%= Exercise.Description %></li>
									
									<button id="editDesc">Edit</button>
									
								</section>
								
								<section class="row">
								<li> Duration: &nbsp; <%= Exercise.Duration %></li>
								
								<button id="editDur">Edit</button>
								
								</section>
								
								<section class="row">
									<li> Date: &nbsp; <%= Exercise.Date %></li>
									
									<button id="editDate">Edit</button>
									

								</section>

								

							

							</ul>



						
					
					
			

			</main>


		</body>
	</html>