	<!DOCTYPE html>

	<html>	

		<head>
			<title>My Exercise </title>
			<link rel="stylesheet" type="text/css" href="CSS/style.css">
		</head>	

		<body class="column">

			<header>
				<h1> My Exercise </h1>
			</header>

			<main class="column">


				<ul class="column">
					<% Exercises.map(
							exercise =>{ %>
								<section class="row">
									<li><a href="/Exercise/<%=exercise._id %>" > <%= exercise.Description %></a></li>

									<form action="/deleteExercise/<%=exercise._id%>" method=”get”>
									<button id="deleteExercise">Delete</button>
									</form>
								</section>
								
							<%}
					) %>
					
				</ul>

				<section class="row">
					<form action='/nextExercise' method='get'>
						<button>Next</button>
					 </form>

					 <form action='/previousExercise' method='get'>
					 	<button>Previous</button>
					 </form>
				</section>

			</main>


		</body>
	</html>